@model List<MVC_DB_.Controllers.AccountInfo>

@{
    ViewData["Title"] = "所有帳號資訊";
}

<h2>所有帳號資訊</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>帳號</th>
            <th>姓名</th>
            <th>Email</th>
            <th>角色</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {
            <tr>
                <td>@account.UserName</td>
                <td>@account.Name</td>
                <td>@account.Email</td>
                <td>@account.Role</td>
            </tr>
        }
    </tbody>
</table>
